@charset "UTF-8";

html {
	font-family: 'Turret Road', cursive;;
}

body {
	background-color: aliceblue;
	color: #FFF;
}

.boards {
	display: flex;
	justify-content: center;
	margin-top: 3%;
}

.board {
	background: #fff;
	margin: 0 16px;
	border: 3px solid #015F23;
	border-radius: 4px;
}

.board h3 {
	padding: 5%;
	color: seagreen;
	float: left;
	font-weight: 900;
}

.dropzone {
	padding: 16px;
	min-width: 280px;
	min-height: 200px;
}

.card {
	padding: 5%;
	box-shadow: 0 3px 3px -1px #015F23;
	width: 100%;
	margin-top: 10%;
	border-radius: 5px;
	background: darkseagreen;
	font-weight: 600;
	font-size: 20px;
}

.status {
	width: 30px;
	height: 8px;
	background: #fff;
	margin-bottom: 16px;
	border-radius: 4px;
}

.status.green {
	background: #66ff66;
}

.status.yellow {
	background: #ffcc00;
}

.status.red {
	background: #cc6699;
}

.highlight {
	background: #95c2f5;
}

.card, .dropzone {
	transition: .3s ease-in-out;
}

.is-dragging {
	cursor: move;
	opacity: 0.3;
}

.dragover {
	background: #95c2f5;
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border-radius: 5px;
	color: black;
}

.btn {
	margin: 1%;
}

.btn-outline-success {
	float: right;
	transform: translate(-30%, 35%);
}
