<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="jdbcTypeForNull" value="VARCHAR"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!-- Alias 설정 -->
    <typeAliases>
        <typeAlias alias="user" type="com.osoondosson.vo.UserRoleVO"/>
        <typeAlias alias="taskVO" type="com.osoondosson.vo.TaskVO"/>
        <typeAlias alias="userVO" type="com.osoondosson.vo.UserVO"/>
        <typeAlias alias="userRoleVO" type="com.osoondosson.vo.UserRoleVO"/>
        <typeAlias alias="scheduleVO" type="com.osoondosson.vo.ScheduleVO"/>
        <typeAlias alias="todolistVO" type="com.osoondosson.vo.ToDoListVO"/>
        <typeAlias alias="memberWithClassVO" type="com.osoondosson.vo.MemberWithClassVO"/>

    </typeAliases>
</configuration>

