<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberWithClassVO">
    <select id="selectByGroup" parameterType="Integer" resultType="MemberWithClassVO">
        SELECT *
        FROM (
                 SELECT rownum AS rnum, user_id, name, phone, gender, group_name, start_date, end_date
                 FROM (
                          SELECT *
                          FROM member m
                                   INNER JOIN class c ON m.group_seq = c.group_seq
                          WHERE c.group_seq = #{groupSeq}
                          ORDER BY m.name -- 이름으로 오름차순 정렬
                      )
             )
        WHERE rnum BETWEEN #{start} AND #{end}
    </select>

    <select id="countStudent" resultType="int" parameterType="map">
        select count(*) from member where group_seq =#{groupSeq}
    </select>
</mapper>