<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.osoondosson.dao.FileDAO">

    <insert id="uploadDrive" parameterType="fileVO">
        INSERT INTO filetable (UUID, ORIGIN_NAME, UPLOAD_NAME, UPLOAD_PATH, FILE_SIZE, FILE_TYPE, UPLOAD_DATE, STATUS, GROUP_SEQ)
        values(
            #{uuid},
            #{originName},
            #{uploadName},
            #{uploadPath},
            null,
            #{fileType},
            CURRENT_TIMESTAMP,
            1,
            #{groupSeq}
            )
    </insert>

    <select id="selectFile"  resultType="fileVO">
        select * from filetable where group_seq = #{groupSeq}
    </select>

    <select id="getFileByUUID" resultType="fileVO" parameterType="String">
        select * from filetable where uuid = #{uuid}
    </select>

    <select id="isFolder" parameterType="String" resultType="Integer">
        select count(*) from filetable where upload_path = #{fileType}
    </select>

    <select id="getPathBySeq" parameterType="Integer" resultType="fileVO">
        select origin_name, upload_path, file_type from filetable where group_seq = #{groupSeq}
    </select>

    <insert id="insertImage" parameterType="fileVO">
		insert into FILETABLE VALUES(#{uuid}, #{originName}, #{uploadName}, #{uploadPath}, #{fileType}, CURRENT_TIMESTAMP, 1, GROUP_SEQ.nextval, #{fileSize})
	</insert>

	<delete id="deleteImage" parameterType="fileVO">
		delete from FILETABLE where uuid = #{uuid}
	</delete>
</mapper>

