<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.osoondosson.dao.TaskDAO">
    <insert id="insertTask" >
        INSERT INTO Task (task_seq, user_id, author, title, content, create_Date, update_Date, status)
        VALUES (task_seq.nextval,#{userId}, #{author}, #{title}, #{content},current_timestamp ,current_timestamp , 0)
    </insert>

    <select id="selectAllTask" resultType="taskVO" parameterType="hashmap">
        select * from Task order by task_seq desc
    </select>

    <select id="selectUserTaskList" resultType="taskVO" parameterType="hashmap">
        select * from Task where user_id = #{userId}
    </select>

    <select id="detailTask" resultType="taskVO">
        select * from Task where task_seq=#{taskSeq}
    </select>

    <update id="updateTask">
        UPDATE Task
        SET title = #{title}, content = #{content}
        WHERE task_seq = #{taskSeq}
    </update>

    <delete id="deleteTask">
        Delete from Task where task_seq=#{taskSeq}
    </delete>

    <!--교직원-->
    <select id="getTaskGroupSeq" resultType="taskVO">
        SELECT t.* FROM task t JOIN member m ON t.user_id = m.user_id WHERE m.group_seq = #{group_seq}
    </select>

    <update id="updateStatus">
        UPDATE Task
        SET status = #{status}
        WHERE task_seq = #{taskSeq}
    </update>
</mapper>