<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.osoondosson.dao.TaskDAO">
    <insert id="insertTask" >
        INSERT INTO Task (task_seq, user_id, author, title, content, create_Date, update_Date, status)
        VALUES (task_seq.nextval,#{userId}, #{author}, #{title}, #{content},current_timestamp ,current_timestamp , 0)
    </insert>

    <select id="selectAllTask" resultType="taskVO" parameterType="hashmap">
        select * from Task order by task_seq desc
    </select>

    <!--학생 게시물 총 게시글 갯수 출력-->
    <select id="countStuTask" resultType="int" parameterType="map">
        select count(*) from task where user_id = #{userId}
        <if test='searchCondition == "title"'>
            AND title LIKE '%' || #{searchKeyword} || '%'
        </if>
        <if test='searchCondition == "createDate"'>
            AND TO_CHAR(create_date, 'yyyy-MM-dd') = #{searchKeyword}
        </if>
        <if test='searchCondition == "updateDate"'>
            AND TO_CHAR(update_date, 'yyyy-MM-dd') = #{searchKeyword}
        </if>

    </select>

    <!--교직원 해당반 학생들의 총 게시글 갯수 출력 -->
    <select id="countGroupSeqTasks" resultType="int" parameterType="map">
        SELECT COUNT(*)
        FROM task t
                 JOIN member m ON t.user_id = m.user_id
                 JOIN class c ON m.group_seq = c.group_seq
        WHERE m.group_seq = #{groupSeq}
        <if test="searchCondition == 'title'.toString()">
            and title like '%' || #{searchKeyword} || '%'
        </if>
        <if test="searchCondition == 'author'.toString()">
            and author like '%' || #{searchKeyword} || '%'
        </if>
        <if test="searchCondition == 'createDate'.toString()">
            and  to_char(create_date,'yyyy-MM-dd') = #{searchKeyword}
        </if>
    </select>

    <select id="selectUserTaskList" resultType="taskVO" parameterType="hashmap">
        SELECT *
        FROM (
        SELECT ROWNUM RN, A.*
        FROM (
        SELECT t.*, ROWNUM AS row_num -- row_num 칼럼 추가
        FROM Task t
        WHERE user_id = #{userId}
        <if test='searchCondition == "title"'>
            AND title LIKE '%' || #{searchKeyword} || '%'
        </if>
        <if test='searchCondition == "createDate"'>
            AND TO_CHAR(create_date, 'yyyy-MM-dd') = #{searchKeyword}
        </if>
        <if test='searchCondition == "updateDate"'>
            AND TO_CHAR(update_date, 'yyyy-MM-dd') = #{searchKeyword}
        </if>
        ORDER BY task_seq DESC
        ) A
        )
        WHERE RN BETWEEN #{start} AND #{end}
    </select>



    <select id="detailTask" resultType="taskVO">
        select * from Task where task_seq=#{taskSeq}
    </select>

    <update id="updateTask">
        UPDATE Task
        SET title = #{title}, update_Date =current_timestamp, content = #{content}
        WHERE task_seq = #{taskSeq}
    </update>

    <delete id="deleteTask">
        Delete from Task where task_seq=#{taskSeq}
    </delete>

    <!--교직원-->
    <select id="getTaskGroupSeq" resultType="taskVO" parameterType="hashMap">
        SELECT * FROM (
        SELECT rownum rn, t.*, c.group_Name
        FROM task t
        JOIN member m ON t.user_id = m.user_id
        JOIN class c ON m.group_seq = c.group_seq
        WHERE m.group_seq = #{groupSeq}
        <if test="searchCondition == 'title'.toString()">
            and title like '%' || #{searchKeyword} || '%'
        </if>
        <if test="searchCondition == 'author'.toString()">
            and author like '%' || #{searchKeyword} || '%'
        </if>
        <if test="searchCondition == 'createDate'.toString()">
            and  to_char(create_date,'yyyy-MM-dd') = #{searchKeyword}
        </if>
        ) WHERE rn BETWEEN #{start} AND #{end}
    </select>

    <update id="updateStatus">
        UPDATE Task
        SET status = #{status}
        WHERE task_seq = #{taskSeq}
    </update>

    <select id="getGroupInfoBygroupSeq" resultType="classVO">
        select * from class where group_seq=#{group_seq}
    </select>
</mapper>